<form
  [formGroup]="carDetailsForm"
  (ngSubmit)="onSubmit(carDetailsForm.value)"
  class="animate__animated animate__fadeIn"
>
  <ion-grid>
    <ion-row class="ion-justify-content-center profile-picture-container">
      <ion-avatar>
        <ion-icon name="camera"></ion-icon>
      </ion-avatar>
      <span
        >Преди одобрение, всяка снимка се проверява от администратор. Лицето трябва да бъде видимо и
        да са спазени общоприети норми за благоприличие</span
      >
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-item>
        <ion-label position="floating"
          >Model
          <ion-text color="danger" *ngIf="carDetailsForm.get('model').hasError('required')"
            >*</ion-text
          >
        </ion-label>
        <ion-input formControlName="model"></ion-input>
      </ion-item>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-item>
        <ion-label position="floating"
          >Brand
          <ion-text color="danger" *ngIf="carDetailsForm.get('brand').hasError('required')"
            >*</ion-text
          >
        </ion-label>
        <ion-input formControlName="brand"></ion-input>
      </ion-item>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-item>
        <ion-label position="floating"
          >Color
          <ion-text color="danger" *ngIf="carDetailsForm.get('color').hasError('required')"
            >*</ion-text
          >
        </ion-label>
        <ion-input formControlName="color"></ion-input>
      </ion-item>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-item>
        <ion-label position="floating"
          >Year of production
          <ion-text
            color="danger"
            *ngIf="carDetailsForm.get('yearOfProduction').hasError('required')"
            >*</ion-text
          >
        </ion-label>
        <ion-input formControlName="yearOfProduction"></ion-input>
      </ion-item>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-item>
        <ion-label position="floating"
          >Number of seats
          <ion-text color="danger" *ngIf="carDetailsForm.get('numberOfSeats').hasError('required')"
            >*</ion-text
          >
        </ion-label>
        <ion-input formControlName="numberOfSeats"></ion-input>
      </ion-item>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <div class="toggle-container">
        <ion-text>Luggage space</ion-text>
        <ion-toggle formControlName="hasLuggageSpace"></ion-toggle>
      </div>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <div class="toggle-container">
        <ion-text>Air condition</ion-text>
        <ion-toggle formControlName="hasAirCondition"></ion-toggle>
      </div>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <div class="toggle-container">
        <ion-text>Smoking</ion-text>
        <ion-toggle formControlName="isSmokingAllowed"></ion-toggle>
      </div>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <div class="toggle-container">
        <ion-text>Food</ion-text>
        <ion-toggle formControlName="isFoodAllowed"></ion-toggle>
      </div>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <div class="toggle-container">
        <ion-text>Drink</ion-text>
        <ion-toggle formControlName="isDrinkAllowed"></ion-toggle>
      </div>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <div class="toggle-container">
        <ion-text>Pets</ion-text>
        <ion-toggle formControlName="isPetAllowed"></ion-toggle>
      </div>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-button type="submit" class="ion-activatable ion-blue-button">
        Save car details
        <ion-ripple-effect type="unbounded"></ion-ripple-effect>
      </ion-button>
    </ion-row>
  </ion-grid>
</form>
