ion-toolbar {
  --border-color: #fff;

  ion-title {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    font-weight: 600;

    &.title-padding-right {
      padding-right: 3rem;
    }

    &.title-padding-left {
      padding-left: 3rem;
    }
  }

  ion-icon {
    color: #243656;
  }
}
