ion-radio-group {
  display: flex;
  width: 80vw;
  ion-label {
    padding-right: 0.5rem;
  }
}

.profile-picture-container {
  span {
    font-size: 0.6rem;
    text-align: center;
    padding-top: 0.7rem;
  }
  ion-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e2e2e2;

    ion-icon {
      font-size: 1.5rem;
    }
  }
}

ion-item {
  width: 80vw;
  --highlight-color-focused: var(--ion-login-button-background);
  --border-color: #f5f7fa;
}
