ion-content {
  --overflow: hidden;
  --color: #243656;

  ion-item {
    width: 80vw;
    --highlight-color-focused: var(--ion-login-button-background);
    --border-color: #f5f7fa;
  }

  .vertical-divider {
    width: 65px;
    height: 0px;
    border: 2px solid #f5f7fa;
  }

  .logo-row {
    padding-top: 100px;
    padding-bottom: 50px;
    img {
      width: 200px;
    }
  }

  .bottom-container {
    margin-top: 4rem;
  }
}
