<app-header
  title="Transports"
  [showStartButtons]="false"
  [showEndButtons]="true"
  endButtonIcon="md-add"
  (endButtonClicked)="addNewTransport()"
>
  <ion-segment [(ngModel)]="type" scrollable (ionChange)="segmentChange($event)">
    <ion-segment-button value="RIDE">
      <ion-label>I'll ride</ion-label>
    </ion-segment-button>
    <ion-segment-button value="DRIVE">
      <ion-label>I'll drive</ion-label>
    </ion-segment-button>
    <ion-segment-button value="HISTORY">
      <ion-label>History</ion-label>
    </ion-segment-button>
  </ion-segment>
</app-header>

<ion-content [fullscreen]="true">
  <ng-container [ngSwitch]="type">
    <app-transport-list
      [type]="type"
      [transports]="transportFacade.rideTransports$ | async"
      headerLabel="Riding"
      (itemClicked)="rideItemClicked($event)"
      *ngSwitchCase="'RIDE'"
    ></app-transport-list>
    <app-transport-list
      [type]="type"
      [transports]="transportFacade.driveTransports$ | async"
      headerLabel="Driving"
      (itemClicked)="driveItemClicked($event)"
      *ngSwitchCase="'DRIVE'"
    ></app-transport-list>
    <app-transport-list
      [type]="type"
      headerLabel="History"
      *ngSwitchCase="'HISTORY'"
    ></app-transport-list>
  </ng-container>
</ion-content>
