<app-header
  title="Transports"
  [showStartButtons]="false"
  [showEndButtons]="true"
  endButtonIcon="md-add"
  (endButtonClicked)="addNewTransport()"
>
  <ion-segment [(ngModel)]="type" scrollable (ionChange)="segmentChange()">
    <ion-segment-button value="RIDE">
      <ion-label>I'll ride</ion-label>
    </ion-segment-button>
    <ion-segment-button value="DRIVE">
      <ion-label>I'll drive</ion-label>
    </ion-segment-button>
    <ion-segment-button value="HISTORY">
      <ion-label>History</ion-label>
    </ion-segment-button>
  </ion-segment>
</app-header>

<ion-content [fullscreen]="true">
  <ion-fab
    *ngIf="paltform.is('cordova')"
    vertical="bottom"
    horizontal="end"
    slot="fixed"
    (click)="startSpeachRecognition()"
  >
    <ion-fab-button>
      <ion-icon name="mic"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content> </ion-refresher-content>
  </ion-refresher>
  <ng-container [ngSwitch]="type">
    <app-transport-list
      [type]="type"
      [transports]="transportFacade.rideTransports$ | async"
      (itemClicked)="rideItemClicked($event)"
      (deleteChange)="deleteRideTranport($event)"
      *ngSwitchCase="'RIDE'"
    ></app-transport-list>
    <app-transport-list
      [type]="type"
      [transports]="transportFacade.driveTransports$ | async"
      (itemClicked)="driveItemClicked($event)"
      (deleteChange)="deleteDriveTranport($event)"
      *ngSwitchCase="'DRIVE'"
    ></app-transport-list>

    <app-transport-list
      [type]="type"
      [transports]="transportHistoryFacade.transportHistory$ | async"
      *ngSwitchCase="'HISTORY'"
    ></app-transport-list>
  </ng-container>
</ion-content>
