:host {
  overflow-y: scroll;

  ion-grid {
    margin-top: 4rem;
    margin-left: 0;
    margin-right: 0;

    ion-col {
      font-size: 1rem;
    }
    ion-card {
      width: 100%;

      ion-icon {
        font-size: 1.3rem;
      }
    }
  }
}
