:host {
  width: 100%;
  ion-card {
    --background: #fff;
    box-shadow: 2px 8px 48px -16px rgba(21, 70, 160, 0.1);
    border-radius: 20px;
    padding: 0 1rem;

    .city-name {
      font-size: 1.2rem;
      font-weight: bold;
    }

    .distance {
      padding: 10px 0;
    }
  }
}
