<ion-card>
  <ion-grid>
    <ion-row>
      <ion-col size="3" class="ion-flex-col">
        <ion-row>
          <ion-avatar>
            <ion-icon [name]="iconName"></ion-icon>
          </ion-avatar>
        </ion-row>
        <ion-row
          *ngIf="type === 'RIDE' || type === 'HISTORY'"
          class="ion-text-center ion-justify-content-center"
        >
          <ion-row class="ion-text-center ion-justify-content-center"
            ><strong>{{ transport.transportDate | date }}</strong></ion-row
          >
          <ion-row class="ion-text-center ion-justify-content-center">Date</ion-row>
        </ion-row>
      </ion-col>
      <ion-col size="9" class="ion-flex-col">
        <app-cities-distance
          [cityFrom]="transport?.cityFrom"
          [cityTo]="transport?.cityTo"
          [distance]="transport?.distance"
        ></app-cities-distance>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center">
      <ion-col size="3" *ngIf="type === 'DRIVE'">
        <ion-row class="ion-text-center ion-justify-content-center"
          ><strong>{{ transport.transportDate | date }}</strong></ion-row
        >
        <ion-row class="ion-text-center ion-justify-content-center">Date</ion-row>
      </ion-col>
      <ion-col size="5.5">
        <ng-container *ngIf="transport.transportTime">
          <ion-row class="ion-text-center ion-justify-content-center"
            ><strong>{{ transport.transportTime }}</strong></ion-row
          >
          <ion-row class="ion-text-center ion-justify-content-center">Hour</ion-row>
        </ng-container>
      </ion-col>
      <ion-col size="3.5">
        <ng-container *ngIf="type === 'DRIVE'">
          <ion-row class="ion-text-center ion-justify-content-center"
            ><strong
              >{{ transport.availableSeats }} / {{ transport.vehicle.numberOfSeats }}</strong
            ></ion-row
          >
          <ion-row class="ion-text-center ion-justify-content-center">Свободни места</ion-row>
        </ng-container>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>
