:host {
  width: 100%;

  ion-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e2e2e2;
    flex-direction: column;

    ion-icon {
      font-size: 1.5rem;
    }
  }

  span {
    text-align: center;
    font-weight: bold;
  }

  app-cities-distance {
    --font-size: 1.2rem;
  }
}
