textarea {
  width: calc(100% - 20px);
  margin-left: 10px;
  background-color: #fff;
  font-size: 1.2em;
  resize: none;
  border: none;
}

ion-row {
  gap: 0.5rem;

  .chat-profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
