<ion-list *ngIf="notifications?.length; else emptyNotificationsList">
  <ion-card
    *ngFor="let notification of notifications"
    (click)="!notification.isRead ? notificationClick.emit(notification.id) : null"
    [class.read-notification-card]="!notification.isRead"
    [routerLink]="['/' + notification.returnUrl]"
  >
    <ion-grid>
      <ion-row class="ion-justify-content-between ion-align-items-center">
        <ion-text>
          <h3>
            <strong>{{ notification.title }}</strong>
          </h3>
        </ion-text>
        <ion-icon name="notifications-circle-outline"></ion-icon>
      </ion-row>
      <ion-row>
        <ion-text
          ><strong>{{ notification.message }}</strong></ion-text
        >
      </ion-row>
      <ion-row>
        <ion-text>{{ notification.createdAt | date: 'short' }}</ion-text>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-list>

<ng-template #emptyNotificationsList>
  <app-empty-list-container text="No new notifications"></app-empty-list-container>
</ng-template>
