<ion-list>
  <ion-card
    *ngFor="let item of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]; let i = index"
    [class.read-notification-card]="i % 2 === 0"
  >
    <ion-grid>
      <ion-row class="ion-justify-content-between ion-align-items-center">
        <ion-text>
          <h3><strong>12.01.2021 15:34</strong></h3>
        </ion-text>
        <ion-icon
          [name]="i % 2 === 0 ? 'search-outline' : 'notifications-circle-outline'"
        ></ion-icon>
      </ion-row>
      <ion-row>
        <ion-text>Може да кандидатствате за новата обява</ion-text>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-list>
