.vertical-line-row {
  padding-left: 0.55rem;
  padding-top: 0.5rem;

  .vl {
    border-left: 3px dotted #243656;
    height: 1.1rem;
  }
}

.ion-big-text {
  font-size: 1.2rem;
  font-weight: bold;
}

.icons-container {
  ion-icon {
    font-size: 1.3rem;
    margin-right: 0.4rem;
    padding-bottom: 0.5rem;

    &.active {
      color: #0070ba;
    }
  }
}

hr {
  background-color: var(--color);
  opacity: 0.1;
}
