.ion-big-text {
  font-size: 1.2rem;
  font-weight: bold;
}

.icons-container {
  ion-icon {
    font-size: 1.3rem;
    margin-right: 0.4rem;
    padding-bottom: 0.5rem;

    &.active {
      color: #0070ba;
    }
  }
}

hr {
  background-color: var(--color);
  opacity: 0.1;
}

ion-badge {
  display: flex;
  align-items: center;
}

ion-button[color='danger'] {
  height: 28px;
  margin: 0;
}
