<form
  [formGroup]="rideForm"
  (ngSubmit)="submitForm.emit(rideForm.value)"
  class="animate__animated animate__fadeIn"
>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="10">
        <app-google-autocomplete
          placeholder="Enter city from"
          iconName="locate-outline"
          formControlName="cityFrom"
        ></app-google-autocomplete>
        <ion-row class="vertical-line-row">
          <div class="vl"></div>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="10">
        <app-google-autocomplete
          placeholder="Enter city to"
          iconName="location-outline"
          formControlName="cityTo"
        ></app-google-autocomplete>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="10">
        <ion-item>
          <ion-label position="floating">Number of seats</ion-label>
          <ion-select placeholder="Pick a number" formControlName="numberOfSeats">
            <ion-select-option *ngFor="let seat of seats" [value]="seat">{{
              seat
            }}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="10">
        <ion-item>
          <ion-label position="floating">Date</ion-label>
          <ion-datetime displayFormat="YYYY-MM-DD" formControlName="transportDate"></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-button
        [disabled]="!rideForm.valid"
        type="submit"
        class="ion-activatable ion-blue-button"
      >
        Search
        <ion-ripple-effect type="unbounded"></ion-ripple-effect>
      </ion-button>
    </ion-row>
  </ion-grid>
</form>
