<ion-row class="ion-justify-content-center">
  <ion-col size="12">
    <ion-row class="ion-align-items-center">
      <ion-icon name="locate-outline"></ion-icon>
      <ion-text class="city-text"
        ><strong>{{ cityFrom }}</strong></ion-text
      >
    </ion-row>
    <ion-row class="vertical-line-row">
      <div class="vl"></div>
      <span>{{ distance }}</span>
    </ion-row>
  </ion-col>
</ion-row>
<ion-row class="ion-justify-content-center">
  <ion-col size="12">
    <ion-row class="ion-align-items-center">
      <ion-icon name="location-outline"></ion-icon>
      <ion-text class="city-text"
        ><strong>{{ cityTo }}</strong></ion-text
      >
    </ion-row>
  </ion-col>
</ion-row>
