:host {
  --font-size: 1rem;
  --icons-font-size: 1.3rem;

  .vertical-line-row {
    padding-left: 0.55rem;
    padding-top: 0.5rem;
    align-items: center;
    font-size: var(--font-size);

    .vl {
      border-left: 3px dotted #243656;
      height: 1.1rem;
    }

    span {
      padding-left: 1rem;
    }
  }

  ion-icon {
    font-size: var(--icons-font-size);
  }

  .city-text {
    font-size: var(--font-size);
    padding-left: 0.5rem;
  }
}
